<div>
Hey there, Shoppers!<br><br>We, at RuralArt truly endorse the lines 'Be Vocal for the Local' by PM Narendra Modi.<br><br>
        Our store has 100% authentic, traditional items to buy from. Your order is shipped directly from the street vendors sitting in Gujarat, Rajasthan or Maharashtra.<br><br>
        When you purchase something from here, you fill the hearts of these hardworking women and support their RuralArt.<br><br>
        Happy Shopping!
</div>