<div>
    Hello Shoppers,<br>
    Have any queries?<br>
    Have some products you'd like to sell?<br>
    Let us know!<br>
    <a href="mailto:hinal.vithlani16@gmail.com">E-mail: hinal.vithlani16@gmail.com</a><br><br>
    <a href="tel:+91 9632578978">Call us!</a>
</div>